/* Tooltip.css */
.tooltip-container {
    position: relative;
    display: inline-block;
  }
  
  .tooltip {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }
  
  .tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
  
  .tooltip-container .tooltip {
    opacity: 0;
    visibility: hidden;
  }
  